<div class="container">
    <p>This website is a dashboard that allows you to test out trading strategies with simulated currency.
    <ul>
       <li>Please create an account first.
       <li>Click "Buy Stock" to buy a stock.
        <li>Once you have bought you may sell or hold until a later date.
        <li>Look through the Trading Algorithms links to see suggestions.
    </ul>
    </p>
</div>