<div class = "container">
    <p>To Contact the Author
    
        <div></div>
        <div> <a href="https://www.github.com/joeysk2012">
        <%=image_tag("github.svg", size: "30x30") %> </a></div>
        <div><%=image_tag("gmail.svg", size: "30x30") %></div>
        <div><a href="https://www.linkedin.com/in/joekurokawa">
        <%=image_tag("linkedin.svg", size: "30x30") %></a></div>
        
    </P>
</div>